.gradient-background {
    background: linear-gradient(300deg, #232D3F, #005B41, #008170);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#logo{
    max-width: 500px;
    max-height: 250px;
}